
img{
    border-radius: 20px;
}
.intro-parks{
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 400px 100px 400px;
    background-color: #8FA31E;
    color: white;
    background-image: url('../img/park.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: Spinnaker;

}

.intro-nature{
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 400px 100px 400px;
    background-color: #8FA31E;
    color: white;
    background-image: url('../img/nature.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: Spinnaker;
}

.intro-restaurants{
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 400px 100px 400px;
    background-color: #8FA31E;
    color: white;
    background-image: url('../img/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: Spinnaker;
}


.intro-church{
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 400px 100px 400px;
    background-color: #8FA31E;
    color: white;
    background-image: url('../img/church.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: Spinnaker;
}

.blur{
    backdrop-filter: blur(4px);
    position: absolute;
    width: 100%;
    height: calc(100% + 75px);
    z-index: 1;
}

.intro-parks h1, .intro-nature h1, .intro-restaurants h1, .intro-church h1{
     text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
     margin-top: 80px;
     margin-bottom: 0px;
     font-size: 70px;
     z-index: 3;
}

.intro-parks p, .intro-nature p, .intro-restaurants p, .intro-church p {
    font-size: 30px;
    z-index: 3;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.9);
    margin-top: 0px;
}

.tourist-spot{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50rem;
    display: flex;
    padding: 50px;
    font-family: Spinnaker;
}

.spot-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 30px;
    max-height: 800px;
    border-radius: 40px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.spot-card h2{
    font-size: 60px;
}

.spot-card p{
    font-size: 30px;
}

li{
    font-size: 22px;
}

